# Python cache dosyaları
__pycache__/
*.py[cod]
*.so

# Jupyter checkpoint dosyaları
.ipynb_checkpoints/

# Sanal ortam klasörleri
env/
venv/
.venv/

# Çıktı dosyaları
*.csv
*.tsv
*.log
*.out

# IDE ayar dosyaları
.vscode/
.idea/

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Kaggle config veya veri dosyaları
kaggle.json
*.zip

